@import url('https://fonts.googleapis.com/css?family=Roboto');
/* mobile first */
* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
*:focus {
  outline: none;
}
body {
  background-color: #4c4c4c;
}
.container {
  margin: auto;
  padding: 1rem;
  width: 100%;
}
@media(min-width: 430px){
.container {
    width: 90%
}
  }
@media(min-width: 800px){
.container {
    width: 80%
}
  }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.8);
            transform: rotate(180deg) scale(0.8);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.8);
            transform: rotate(180deg) scale(0.8);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}
@-webkit-keyframes slideUp{
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  80% {
    -webkit-transform: translateY(-0.4rem);
            transform: translateY(-0.4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slideUp{
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  80% {
    -webkit-transform: translateY(-0.4rem);
            transform: translateY(-0.4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.Navbar {
  background-color: black;
}
.Navbar-container {
    margin: auto;
    padding: 1rem;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
.Navbar-search input[type=text] {
      border-radius: 0.5rem;
      border: 1px solid black;
      padding: 0.2rem;
      background-color: #4c4c4c;
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
      color: #FFA500;
      font-size: 1rem;
    }
.Navbar-search input[type=text]:focus {
      outline: none;
      -webkit-transform: scaleX(1.1);
              transform: scaleX(1.1);
    }
.Navbar-logo {
    text-align: left;
    font-size: 1.2rem;
    color: white;
    display: none;
  }
@media(min-width: 800px){
.Navbar-logo {
      display: inline-block
  }
    }
.Navbar-logo-em {
      background-color: #FFA500;
      color: black;
      padding: 0.2rem;
      font-size: 1.2rem;
      border-radius: 0.5rem;
      margin-left: 0.2rem;
    }
.Navbar-link {
    text-decoration: none;
    color: #FFA500;
    padding: 1rem;
  }
.Navbar-link_active {
    cursor: default;
    color: #686868;
  }
.Feed {
  -webkit-column-count: 1;
          column-count: 1;
  -webkit-column-gap: 0;
          column-gap: 0;
  -webkit-animation: slideUp 0.7s ease-in 0.2s;
          animation: slideUp 0.7s ease-in 0.2s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
@media(min-width: 430px){
.Feed {
    -webkit-column-count: 2;
            column-count: 2
}
  }
@media(min-width: 800px){
.Feed {
    -webkit-column-count: 3;
            column-count: 3
}
  }
.Post {
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  padding: 0.4rem;
  list-style: none;
  border: 1px solid #4c4c4c;
  margin: 0.2rem;
  border-radius: 0.6rem;
  background-color: #686868;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
.Post:hover{
    background-color: #f5f5f5;
  }
.Post img {
    width: 100%;
    border-radius: 0.4rem;
  }
.Post-author {
    margin-bottom: 0.7rem;
    text-align: center;
    color: #f5f5f5;
  }
.Post-content {
    border-radius: 0.6rem;
  }
.Error {
  text-align: center;
  margin-top: 4rem;
  font-size: 2em;
  color: #FFA500;
}
.Auth {
  margin: 5rem auto 1rem auto;
  width: 50%;
}
.Auth-btn {
    display: inline-block;
    background-color: #686868;
    color: #FFA500;
    border: 1px solid #FFA500;
    font-size: 1rem;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    margin: 1rem;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
.Auth-btn:hover {
      background-color: #FFA500;
      color: #686868;
    }
.Auth-input {
    display: block;
    width: 100%;
    font-size: 1rem;
    padding: 0.3rem 1rem;
    color: #4c4c4c;
    background-color: #f5f5f5;
    margin-bottom: 0.5rem;
  }
.Auth-input::-webkit-input-placeholder {
      text-align: center;
      color: #686868;
    }
.Auth-input:-ms-input-placeholder {
      text-align: center;
      color: #686868;
    }
.Auth-input::-ms-input-placeholder {
      text-align: center;
      color: #686868;
    }
.Auth-input::placeholder {
      text-align: center;
      color: #686868;
    }
.Auth-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
