@import url('https://fonts.googleapis.com/css?family=Roboto');
/* mobile first */
@custom-media --tablet (min-width: 430px);
@custom-media --laptop (min-width: 800px);
@custom-media --desktop (min-width: 1025px);

:root {
  --main-color: #FFA500;
  --main-dark: #4c4c4c;
  --main-dark-light: #686868;
  --main-gray: #f5f5f5;
  --danger: #f44336;
  --blue: #90caf9;
}

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

*:focus {
  outline: none;
}

body {
  background-color: var(--main-dark);
}

.container {
  margin: auto;
  padding: 1rem;
  width: 100%;

  @media(--tablet){
    width: 90%;
  }
  @media(--laptop){
    width: 80%;
  }
}
