.Form {
  margin: 5rem auto 1rem auto;
  width: 50%;

  &-input {
    display: block;
    width: 100%;
    font-size: 1rem;
    padding: 0.3rem 1rem;
    color: var(--main-dark);
    background-color: var(--main-gray);
    margin-bottom: 0.5rem;

    &::placeholder {
      padding-top: 0.3rem;
      text-align: center;
      color: var(--main-dark-light);
    }
    &_caption {
      height: 5rem;
      padding-top: 0.3rem;
    }
  }
}
