.Feed {
  column-count: 1;
  column-gap: 0;

  @media(--tablet){
    column-count: 2;
  }
  @media(--laptop){
    column-count: 3;
  }
  @media(--desktop){
    column-count: 4;
  }
}
.Post {
  break-inside: avoid;
  padding: 0.4rem;
  list-style: none;
  border: 1px solid var(--main-dark);
  margin: 1px;
  border-radius: 0.6rem;
  background-color: #f5f5f5;

  & img {
    width: 100%;
  }

  &-content {
    border-radius: 0.6rem;
    padding: 0.6rem;
  }
}
