.Feed {
  column-count: 1;
  column-gap: 0;
  animation: slideUp 0.7s ease-in 0.2s;
  animation-fill-mode: backwards;

  @media(--tablet){
    column-count: 2;
  }
  @media(--laptop){
    column-count: 3;
  }
}
.Post {
  break-inside: avoid;
  padding: 0.4rem;
  list-style: none;
  border: 1px solid var(--main-dark);
  margin: 0.2rem;
  border-radius: 0.6rem;
  background-color: var(--main-dark-light);
  transition: background-color 0.3s ease-out;

  &:hover{
    background-color: var(--main-gray);
  }

  & img {
    width: 100%;
    border-radius: 0.4rem;
  }
  &-author {
    margin-bottom: 0.7rem;
    text-align: center;
  }

  &-content {
    border-radius: 0.6rem;
  }
}
