.User {
  display: flex;
  flex-direction: row;
  height: 20vh;
  margin: auto;
  justify-content: center;

  &-avatar {
    & img {
      height: 100%;
      border-radius: 10rem;
    }
  }
  &-info {
    flex-direction: column;
    margin-left: 2rem;
    color: var(--main-gray);

    &_name {
      text-align: right;
    }
  }
}
